@import './base.css';

#app {
  font-weight: normal;
}

.first-color { 
	background: #394a51; 
}
	
.second-color { 
	background: #7fa99b; 
}

.third-color { 
	background: #fbf2d5; 
}

.fourth-color { 
	background: #fdc57b; 
}

:deep(.arco-breadcrumb-item) {
    padding: 0;
}